:root {
  --main-font: 'Outfit', sans-serif;

  --bg-dark: black;
  --white: white;
  --grey: #b3b3b3;
  --yellow: #f5c518;
  --card-size: 170px;     
  --image-height: 220px; 
  --round: 10px;
  --space: 8px;
}

body {
  font-family: var(--main-font);
  /* background-color:#ff1414; */
}
.section-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 12px;
  /* padding-left: 4px; */
}