:root {
  --main-font: 'Outfit', sans-serif;

  --bg-dark: black;
  --white: white;
  --grey: #b3b3b3;
  --yellow: #f5c518;
  --card-size: 170px;     
  --image-height: 220px; 
  --round: 10px;
  --space: 8px;
}

body {
  font-family: var(--main-font);
  /* background-color:#ff1414; */
}
.section-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 12px;
  /* padding-left: 4px; */
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.load-more-btn{
  /* display: block; */
  background-color: #e50914;
  border-radius: 20px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  margin: 30px auto;
  padding: 10px 24px;
  border: none;
  display :flex;
  align-items: center;
}

.load-more-btn:hover {
  background-color: #f6121d;
}










